.select-div{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
}
.select-div label{
      font-size: 17px;
    color:var(--text2);
}
.select-div select{
 width: 100%;
    padding: 4px;
    border: 1px solid var(--border);
    background-color: var(--win);
    border-radius: 7px;
    outline: none;
    color: var(--text1);
    font-size: 15px;
    direction: rtl;
}