.navbar{
    height: 7vh;
    background-color: var(--win);
    overflow: hidden;
    box-shadow: var(--shadow);
    border-bottom: 1px solid var(--border);
}

.app-title{
   width: fit-content;
    font-weight: bold;
    color: var(--text1);
    line-height: 7vh;
   font-size: 1.5rem;
    margin: 0 auto;

}