:root {
  --text: #fff;
  --bg:  linear-gradient(135deg, #2564eb73 0%, #c08de2bb 100%);;
  --win:#075985;
  --border: #e5e4e7;
  --hover: #0c4a6e;
  --TopTableColor: #0c4a6e;
  --shadow: #0000001a 0 10px 15px -3px, #0000000d 0 4px 6px -2px;
}



body {
  direction: rtl;
  font-family: sans-serif;
  background:var(--bg);
  color: var(--text);
  margin: 0;
  padding: 0;
}
