:root {
  --text: #fff;
  --bg:radial-gradient(
  circle at top right,
  #dff3ff 0%,
  #e7f5ff 35%,
  #ffffff 75%
);
  --win:#075985;
  --border: #e5e4e7;
  --shadow: #0000001a 0 10px 15px -3px, #0000000d 0 4px 6px -2px;
}



body {
  direction: rtl;
  background-color: var(--bg);
  color: var(--text);
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
}
